web/WEB-INF/products_jackjones.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT products (id, categoryid, name, colour, description, image, url, recommend)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT categoryid (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT colour (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT recommend (#PCDATA)>

